@using GuestBookApp.Models
@model List<Article>
@{
    ViewData["Title"] = "Результаты поиска";
}
    <br />
    <span>Результат поиска</span>
    <hr />
    @if (Model != null && Model.Count > 0)
    {
        @foreach (var article in Model)
        {
            <div class="format">
                <p><b>Дата создания:</b> @article.Date</p>
                <p><b>Тема:</b> @article.Theme</p>
                <p><b>Текст:</b><br />@article.Text</p>
            </div>
        }
    }
    else
    {
        <p class="end">Пустой запрос или нет совпадений</p>
    }

